<h1>Deckboard</h1>

<a href="/">voltar</a>
<h1>
  Dashboard de usuários!
</h1>

<ul>
{{#each items}}
{{!-- monstramos qual lista que queremos mostrar  --}}
  <li>{{this}}</li>

{{/each}}
</ul>

<a href="/blogpost">blogpost</a>
